@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000; /* black text */
  --background: #ffffff; /* white background */
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  @apply max-w-[48rem];
}
